<mat-drawer-container class="container">
  <mat-drawer #drawer mode="over">
    <mat-action-list (click)="drawer.close()">
    </mat-action-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">

      <div class="toolbar">
        <mat-toolbar color="primary">
          <span matRipple routerLink="/operation">運営管理画面</span>
          <div class="spacer"></div>
          <button mat-raised-button color="accent" routerLink="/tenant">店舗管理画面へ</button>
        </mat-toolbar>
      </div>
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>

    </div>
  </mat-drawer-content>
</mat-drawer-container>


