<ng-container *ngIf="detail$ | async as detail">
  <app-dashboard-header>店舗基本情報</app-dashboard-header>
  <mat-card>
    <form (ngSubmit)="onSub()" [formGroup]="fg">
      <mat-card-content>

        <p>
          <mat-form-field appearance="fill" hintLabel="30文字">
            <mat-label>キャッチフレーズ</mat-label>
            <input formControlName="catch" matInput max="30" name="catch" type="text">
          </mat-form-field>
        </p>
        <ng-container formArrayName="tel">
          <p>
            <mat-form-field appearance="fill" hintLabel="15文字">
              <mat-label>電話番号1</mat-label>
              <input formControlName="0" matInput max="15" name="tel1" type="tel">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill" hintLabel="15文字">
              <mat-label>電話番号2</mat-label>
              <input formControlName="1" matInput max="15" name="tel2" type="tel">
            </mat-form-field>
          </p>
        </ng-container>
        <p>
          <mat-form-field appearance="fill" hintLabel="">
            <mat-label>LINE ID</mat-label>
            <input formControlName="line_id" matInput name="line_id" type="text">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" hintLabel="">
            <mat-label>LINE URL</mat-label>
            <input formControlName="line_url" matInput name="line_url" type="text">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" hintLabel="30文字">
            <mat-label>住所・地域（東部・中部・西部・全域）</mat-label>
            <input formControlName="region" matInput name="region" type="text">
          </mat-form-field>
        </p>

        <app-dashboard-time-range-form
          [formControl]="openTimeCombined"
          label="営業"
        ></app-dashboard-time-range-form>

        <app-dashboard-time-range-form
          [formControl]="receptionTimeCombined"
          label="受付"
        ></app-dashboard-time-range-form>

        <p>
          <mat-form-field appearance="fill" hintLabel="60文字">
            <mat-label>定休日</mat-label>
            <input formControlName="close_date" matInput max="60" name="close_date" type="text">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>最低価格帯</mat-label>
            <mat-select formControlName="lowest_cost">
              <mat-option *ngFor="let item of costSelections" [value]="item.value">{{ item.label }}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <app-dashboard-radio
          [formControl]="useForm"
          [selects]="[{value: '0', label: '未使用'}, {value: '1', label: '使用'}]"
        >お問い合わせフォーム
        </app-dashboard-radio>

        <ng-container *ngIf="useForm.value === '1'">
          <p>
            <mat-form-field appearance="fill">
              <mat-label>書き込み通知先メールアドレス</mat-label>
              <input formControlName="form_email" matInput max="256" name="form_email" type="email">
            </mat-form-field>
          </p>
        </ng-container>
        <p>
          <mat-form-field appearance="fill" hintLabel="180文字">
            <mat-label>基本サービス</mat-label>
            <input formControlName="regular_services" matInput max="180" name="regular_services" type="text">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>基本サービス価格</mat-label>
            <input formControlName="regular_service_price" matInput min="0" name="regular_service_price" type="number">
          </mat-form-field>
        </p>

        <mat-grid-list [cols]="5" [rowHeight]="80" formArrayName="services">
          <ng-container *ngFor="let item of serviceControls; let index = index" [formGroupName]="index">
            <mat-grid-tile [colspan]="1"></mat-grid-tile>
            <mat-grid-tile [colspan]="2">
              <mat-form-field appearance="fill">
                <mat-label>フリー{{ index + 1 }}</mat-label>
                <input [name]="'service-' + (index + 1)" formControlName="name" matInput type="text">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
              <mat-form-field appearance="fill">
                <mat-label>価格</mat-label>
                <input [name]="'price-' + (index + 1)" formControlName="price" matInput type="number">
              </mat-form-field>
            </mat-grid-tile>
          </ng-container>
        </mat-grid-list>


        <p>
          <mat-label>領収書発行</mat-label>
        </p>
        <p>
          <mat-radio-group aria-label="Select an option" formControlName="enable_receipt">
            <mat-radio-button value="1">OK</mat-radio-button>
            <mat-radio-button value="0">NG</mat-radio-button>
          </mat-radio-group>
        </p>

        <p>
          <mat-label>クレジットカード</mat-label>
        </p>
        <p>
          <mat-checkbox *ngFor="let item of brands$ | async; let index = index"
                        [formControl]="creditCardFormControlArray[index]"
          >{{ item.name }}</mat-checkbox>
        </p>

        <p>
          <mat-form-field appearance="fill" hintLabel="200文字">
            <mat-label>備考欄</mat-label>
            <textarea [cdkTextareaAutosize]="true" formControlName="note" matInput name="note" rows="3"
                      type="text"></textarea>
          </mat-form-field>
        </p>


        <p>
          <mat-label>出勤表使用選択</mat-label>
        </p>
        <p>
          <mat-radio-group aria-label="Select an option" formControlName="use_timetable">
            <mat-radio-button value="0">未使用</mat-radio-button>
            <mat-radio-button value="1">使用</mat-radio-button>
          </mat-radio-group>
        </p>
        <p>
          <mat-label>女の子管理画面での出勤表の使用選択</mat-label>
        </p>
        <p>
          <mat-radio-group aria-label="Select an option" formControlName="enable_edit_timetable_on_cast">
            <mat-radio-button value="0">未使用</mat-radio-button>
            <mat-radio-button value="1">使用</mat-radio-button>
          </mat-radio-group>
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button [disabled]="fg.invalid" color="primary" mat-raised-button>更新</button>
      </mat-card-actions>
    </form>
  </mat-card>
</ng-container>
