<ng-container *ngIf="detail$ | async as detail">
  <app-dashboard-header>店舗基本情報</app-dashboard-header>
  <mat-card>
    <form [formGroup]="fg" (ngSubmit)="onSub()">
      <mat-card-content>

        <p>
          <mat-form-field appearance="fill" hintLabel="30文字">
            <mat-label>キャッチフレーズ</mat-label>
            <input type="text" name="catch" max="30" formControlName="catch" matInput>
          </mat-form-field>
        </p>
        <ng-container formArrayName="tel">
          <p>
            <mat-form-field appearance="fill" hintLabel="15文字">
              <mat-label>電話番号1</mat-label>
              <input type="tel" name="tel1" max="15" formControlName="0" matInput>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill" hintLabel="15文字">
              <mat-label>電話番号2</mat-label>
              <input type="tel" name="tel2" max="15" formControlName="1" matInput>
            </mat-form-field>
          </p>
        </ng-container>
        <p>
          <mat-form-field appearance="fill" hintLabel="">
            <mat-label>LINE ID</mat-label>
            <input type="text" name="line_id" formControlName="line_id" matInput>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" hintLabel="">
            <mat-label>LINE URL</mat-label>
            <input type="text" name="line_url" formControlName="line_url" matInput>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" hintLabel="30文字">
            <mat-label>住所・地域（東部・中部・西部・全域）</mat-label>
            <input type="text" name="region" formControlName="region" matInput>
          </mat-form-field>
        </p>

        <app-dashboard-time-range-form
          label="営業"
          [formControl]="openTimeCombined"
        ></app-dashboard-time-range-form>

        <app-dashboard-time-range-form
          label="受付"
          [formControl]="receptionTimeCombined"
        ></app-dashboard-time-range-form>

        <p>
          <mat-form-field appearance="fill" hintLabel="60文字">
            <mat-label>定休日</mat-label>
            <input type="text" max="60" name="close_date" formControlName="close_date" matInput>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill">
            <mat-label>最低価格帯</mat-label>
            <mat-select formControlName="lowest_cost">
              <mat-option *ngFor="let item of costSelections" [value]="item.value">{{ item.label }}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <p>
          <mat-label>お問い合わせフォーム</mat-label>
        </p>
        <p>
          <mat-radio-group aria-label="Select an option" [formControl]="useForm">
            <mat-radio-button value="0">未使用</mat-radio-button>
            <mat-radio-button value="1">使用</mat-radio-button>
          </mat-radio-group>
        </p>

        <ng-container *ngIf="useForm.value === '1'">
          <p>
            <mat-form-field appearance="fill">
              <mat-label>書き込み通知先メールアドレス</mat-label>
              <input type="email" max="256" name="form_email" formControlName="form_email" matInput>
            </mat-form-field>
          </p>
        </ng-container>
        <p>
          <mat-form-field appearance="fill" hintLabel="180文字">
            <mat-label>基本サービス</mat-label>
            <input type="text" max="180" name="regular_services" formControlName="regular_services" matInput>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>基本サービス価格</mat-label>
            <input type="number" min="0" name="regular_service_price" formControlName="regular_service_price" matInput>
          </mat-form-field>
        </p>

        <mat-grid-list [cols]="5" [rowHeight]="80" formArrayName="services">
          <ng-container *ngFor="let item of serviceControls; let index = index" [formGroupName]="index">
            <mat-grid-tile [colspan]="1"></mat-grid-tile>
            <mat-grid-tile [colspan]="2">
              <mat-form-field appearance="fill">
                <mat-label>フリー{{ index + 1 }}</mat-label>
                <input type="text" [name]="'service-' + (index + 1)" formControlName="name" matInput>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
              <mat-form-field appearance="fill">
                <mat-label>価格</mat-label>
                <input type="number" [name]="'price-' + (index + 1)" formControlName="price" matInput>
              </mat-form-field>
            </mat-grid-tile>
          </ng-container>
        </mat-grid-list>


        <p>
          <mat-label>領収書発行</mat-label>
        </p>
        <p>
          <mat-radio-group aria-label="Select an option" formControlName="enable_receipt">
            <mat-radio-button value="1">OK</mat-radio-button>
            <mat-radio-button value="0">NG</mat-radio-button>
          </mat-radio-group>
        </p>

        <p>
          <mat-label>クレジットカード</mat-label>
        </p>
        <p>
          <mat-checkbox [formControl]="creditCardFormControlArray[index]"
                        *ngFor="let item of brands$ | async; let index = index"
          >{{ item.name }}</mat-checkbox>
        </p>

        <p>
          <mat-form-field appearance="fill" hintLabel="200文字">
            <mat-label>備考欄</mat-label>
            <textarea rows="3" type="text" name="note" formControlName="note" matInput
                      [cdkTextareaAutosize]="true"></textarea>
          </mat-form-field>
        </p>


        <p>
          <mat-label>出勤表使用選択</mat-label>
        </p>
        <p>
          <mat-radio-group aria-label="Select an option" formControlName="use_timetable">
            <mat-radio-button value="0">未使用</mat-radio-button>
            <mat-radio-button value="1">使用</mat-radio-button>
          </mat-radio-group>
        </p>
        <p>
          <mat-label>女の子管理画面での出勤表の使用選択</mat-label>
        </p>
        <p>
          <mat-radio-group aria-label="Select an option" formControlName="enable_edit_timetable_on_cast">
            <mat-radio-button value="0">未使用</mat-radio-button>
            <mat-radio-button value="1">使用</mat-radio-button>
          </mat-radio-group>
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" [disabled]="fg.invalid">更新</button>
      </mat-card-actions>
    </form>
  </mat-card>
</ng-container>
