<ng-container *ngIf="view$ | async as view">
  <form [formGroup]="fg" (ngSubmit)="onSub()">
    <app-dashboard-header>トップの設定</app-dashboard-header>
    <mat-card>
      <mat-card-content>
        <h2>右サイド</h2>
        <app-dashboard-select [selects]="contentsSelect" formControlName="right_side_tenant_layout_contents_type_id">コンテンツ</app-dashboard-select>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-flat-button color="primary">更新</button>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-container>
