header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  h2 {
    button {
      margin-right: 10px;
    }

    span {
      vertical-align: middle;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  .actions {
    flex: 0 0 auto;
  }
}
