<ng-container *ngIf="detail$ | async as detail">
  <app-dashboard-header prevRouterLink="../">フリースペース: {{ detail.title }}</app-dashboard-header>
  <mat-card>
    <form (ngSubmit)="onSub(detail.id)" [formGroup]="fg">
      <mat-card-content>
        <app-dashboard-input
          formControlName="title"
          name="title"
        >
          タイトル
        </app-dashboard-input>

        <app-dashboard-editable-text-type-select
          formControlName="editable_text_type_id"
          name="editable_text_type_id"
          #ref
        ></app-dashboard-editable-text-type-select>
        <app-dashboard-multiple-type-textarea
          formControlName="content"
          name="content"
          [ref]="ref"
        ></app-dashboard-multiple-type-textarea>
      </mat-card-content>
      <mat-card-actions align="end">
        <button [disabled]="fg.invalid" color="primary" mat-raised-button>更新</button>
      </mat-card-actions>
    </form>
  </mat-card>

</ng-container>
