<mat-drawer-container class="container">
  <mat-drawer #drawer mode="over">
    <mat-action-list (click)="drawer.close()">
    </mat-action-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">
      <div class="toolbar">
        <mat-toolbar color="accent">
          <span matRipple routerLink="/tenant">店舗管理画面</span>
          <div class="spacer"></div>
          <a *ngIf="tenantLink$ | async as tenantLink" [href]="tenantLink" target="_blank">
            <button color="primary" mat-raised-button>プレビュー</button>
          </a>
        </mat-toolbar>
      </div>
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>

    </div>
  </mat-drawer-content>
</mat-drawer-container>


