<mat-drawer-container class="container">
  <mat-drawer #drawer mode="over">
    <mat-action-list (click)="drawer.close()">
    </mat-action-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">
      <div class="toolbar">
        <mat-toolbar color="accent">
          <span matRipple routerLink="/tenant">店舗管理画面</span>
        </mat-toolbar>
      </div>
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>

    </div>
  </mat-drawer-content>
</mat-drawer-container>


