<app-dashboard-header prevRouterLink="../">フリー画像</app-dashboard-header>
<mat-card>
  <form (ngSubmit)="onSub()" [formGroup]="fg">
    <mat-card-content>
      <app-dashboard-select
        [selects]="imageType$ | async"
        formControlName="tenant_free_image_type_id"
        name="tenant_free_image_type_id"
      >
        コンテンツ
      </app-dashboard-select>

      <app-dashboard-input
        formControlName="title"
        name="title"
      >
        タイトル
      </app-dashboard-input>

      <p>
        <mat-label>画像</mat-label>
        <img *ngIf="fileUrl" [src]="fileUrl" alt="">
        <input #imageFileInput (change)="onChangeFile()" name="image" type="file">
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button [disabled]="fg.invalid" color="primary" mat-raised-button>更新</button>
    </mat-card-actions>
  </form>
</mat-card>
