<ng-container *ngIf="detail$ | async as detail">
  <app-dashboard-header prevRouterLink="../">フリーバナー: {{ detail.title }}</app-dashboard-header>
  <mat-card>
    <form (ngSubmit)="onSub(detail.id)" [formGroup]="fg">
      <mat-card-content>
        <app-dashboard-select
          [selects]="[{value: '1', label: '公開'}, {value: '0', label: '非公開'}]"
          formControlName="publish"
          name="publish"
        ></app-dashboard-select>

        <app-dashboard-input
          formControlName="title"
          name="title"
        >
          タイトル
        </app-dashboard-input>


        <app-dashboard-select
          [selects]="displaySpaces$ | async"
          formControlName="tenant_free_banner_display_space_id"
          name="tenant_free_banner_display_space_id"
        ></app-dashboard-select>

        <app-tenant-free-banner-images
          (changeFiles)="files = $event"
          formControlName="images"
        ></app-tenant-free-banner-images>


      </mat-card-content>
      <mat-card-actions align="end">
        <button [disabled]="fg.invalid" color="primary" mat-raised-button>更新</button>
      </mat-card-actions>
    </form>
  </mat-card>

</ng-container>
