<app-dashboard-header prevRouterLink="../">コース</app-dashboard-header>
<mat-card>
  <form (ngSubmit)="onSub()" [formGroup]="fg">
    <mat-card-content>
      <p>
        <mat-form-field appearance="fill" hintLabel="40文字">
          <mat-label>タイトル</mat-label>
          <input formControlName="title" matInput max="40" name="title" type="text">
        </mat-form-field>
      </p>

      <mat-grid-list [cols]="5" [rowHeight]="80" formArrayName="courses">
        <ng-container *ngFor="let item of courseFormArray.controls; let index = index" [formGroupName]="index">
          <mat-grid-tile [colspan]="1"></mat-grid-tile>
          <mat-grid-tile [colspan]="2">
            <mat-form-field appearance="fill">
              <mat-label>時間</mat-label>
              <input [name]="'head-' + (index + 1)" formControlName="head" matInput type="text">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2">
            <mat-form-field appearance="fill">
              <mat-label>料金</mat-label>
              <input [name]="'data-' + (index + 1)" formControlName="data" matInput type="text">
            </mat-form-field>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>

      <p *ngIf="courseFormArray.length < formArrayMax">
        <button (click)="onPush()" color="accent" mat-flat-button type="button">項目を追加</button>
      </p>

      <p>
        <mat-form-field appearance="fill" hintLabel="500文字">
          <mat-label>備考</mat-label>
          <textarea [cdkTextareaAutosize]="true" formControlName="note" matInput maxlength="500" name="note" rows="3"
                    type="text"></textarea>
        </mat-form-field>
      </p>

    </mat-card-content>
    <mat-card-actions align="end">
      <button [disabled]="fg.invalid" color="primary" mat-raised-button>作成</button>
    </mat-card-actions>
  </form>
</mat-card>
