<div class="container">
  <form [formGroup]="fg" (ngSubmit)="onSub()">
    <mat-dialog-content>
      <h3 mat-subheader>待ち時間の設定</h3>
      <p>
        <mat-checkbox [formControl]="standby">現在待機中にする</mat-checkbox>
      </p>
      <div class="time-input">
        <input type="time" formControlName="time">
        <button type="button" (click)="time.reset()" [disabled]="time.disabled">クリア</button>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-flat-button color="primary" [disabled]="fg.invalid">設定する</button>
    </mat-dialog-actions>
  </form>
  <button class="close-btn" mat-dialog-close mat-icon-button mat-flat-button color="warn">
    <mat-icon>close</mat-icon>
  </button>
</div>
