<p>
  <mat-form-field [hintLabel]="hintLabel" appearance="fill">
    <mat-label>
      <ng-content></ng-content>
    </mat-label>
    <input
      [attr.maxLength]="max !== null ? max : null"
      [attr.minLength]="min !== null ? min : null"
      [autocomplete]="isPassword ? 'new-password' : 'on'"
      [formControl]="fc"
      [name]="name"
      [required]="required"
      [type]="isPassword && hidePassword ? 'password' : type"
      matInput
    >
    <button
      (click)="hidePassword = !hidePassword"
      *ngIf="isPassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
      mat-icon-button
      matSuffix
    >
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <button
      (click)="fc.setValue('')"
      *ngIf="isClearable"
      mat-icon-button
      matSuffix
    >
      <mat-icon>time</mat-icon>
    </button>
  </mat-form-field>
</p>
