<mat-dialog-content [formGroup]="fg">
  <h3 mat-subheader>出勤情報</h3>
  <p>
    <mat-checkbox formControlName="finished">受付終了</mat-checkbox>
  </p>
  <app-dashboard-time-range-form [minuteStep]="data.setting.dashboard_minute_step" [enable24h]="false" label="出勤" [formControl]="timeControl">
    出勤時間
  </app-dashboard-time-range-form>
  <app-dashboard-input formControlName="comment">コメント</app-dashboard-input>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" [matDialogClose]="fg.value" [disabled]="fg.invalid">設定する</button>
</mat-dialog-actions>
