<mat-label>バナー画像</mat-label>
<div class="rows-container">
  <div class="row-container">
    <div class="row">
      <div class="image-container">
        <img *ngIf="fileUrl" [src]="fileUrl" alt="">
      </div>
      <div class="file-input-container">
        <p>
          <mat-label>画像を変更</mat-label>
        </p>
        <p>
          <input #imageFileInput (change)="onChangeFile(imageFileInput.files ? imageFileInput.files[0] : null)"
                 name="image"
                 type="file"
                 [disabled]="disabled"
          >
        </p>
      </div>
      <div class="select-container">
<!--        <p>-->
<!--          <app-dashboard-radio-->
<!--            [formControl]="getLinkFormArrayAt(index)"-->
<!--            [selects]="linkSelects"-->
<!--          >リンク先-->
<!--          </app-dashboard-radio>-->
<!--        </p>-->
<!--        <ng-container *ngIf="linkFormArray.at(index).value === 'cast'">-->
<!--          <app-dashboard-select-->
<!--            [selects]="castsSelects$ | async"-->
<!--            formControlName="cast_id"-->
<!--          ></app-dashboard-select>-->

<!--          <app-dashboard-select-->
<!--            *ngIf="castLinkTypeEnabled[index]"-->
<!--            [selects]="castLinkTypesSelects[index]"-->
<!--            formControlName="cast_link_type_id"-->
<!--          ></app-dashboard-select>-->
<!--        </ng-container>-->
<!--        <ng-container *ngIf="linkFormArray.at(index).value === 'tenant'">-->
<!--          <app-dashboard-select-->
<!--            [selects]="tenantLinkTypesSelects$ | async"-->
<!--            formControlName="tenant_link_type_id"-->
<!--          ></app-dashboard-select>-->

<!--          <app-dashboard-select-->
<!--            *ngIf="freeGalleryEnabled[index]"-->
<!--            [selects]="galleriesSelects$ | async"-->
<!--            formControlName="tenant_free_gallery_id"-->
<!--          ></app-dashboard-select>-->

<!--          <app-dashboard-select-->
<!--            *ngIf="foreignLinkEnabled[index]"-->
<!--            [selects]="foreignLinks$ | async"-->
<!--            formControlName="foreign_link_id"-->
<!--          ></app-dashboard-select>-->
<!--        </ng-container>-->
      </div>
      <button [disabled]="disabled" (click)="onDeleteFile()" mat-button mat-icon-button mat-flat-button color="warn" type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
