<ng-container *ngIf="view$ | async as view">
  <app-dashboard-header prevRouterLink="../">写メ日記: {{ view.detail?.title }}</app-dashboard-header>
  <mat-card>
    <form [formGroup]="fg" (ngSubmit)="onSub(view.detail)">
      <mat-card-content>
        <app-dashboard-input
          formControlName="title"
          name="title"
        >
          タイトル
        </app-dashboard-input>

        <app-dashboard-editable-text-type-select
          formControlName="editable_text_type_id"
          name="editable_text_type_id"
          #ref
        ></app-dashboard-editable-text-type-select>
        <app-dashboard-multiple-type-textarea
          formControlName="content"
          name="content"
          [ref]="ref"
        ></app-dashboard-multiple-type-textarea>
      </mat-card-content>

      <div class="images">
        <img *ngFor="let item of imageUrls" [src]="item" alt="">
      </div>
      <mat-card-actions align="end">
        <button mat-flat-button color="primary">更新</button>
      </mat-card-actions>
    </form>
  </mat-card>
</ng-container>
