<app-dashboard-header prevRouterLink="../">キャスト</app-dashboard-header>
<mat-card>
  <form (ngSubmit)="onSub()" [formGroup]="fg">
    <mat-card-content>
      <app-dashboard-select
        [selects]="[{value: '1', label: '公開'}, {value: '0', label: '非公開'}]"
        formControlName="publish"
        name="publish"
      >公開ステータス
      </app-dashboard-select>

      <app-dashboard-input
        formControlName="display_name"
        name="display_name"
      >
        名前
      </app-dashboard-input>

      <app-dashboard-input
        formControlName="display_name_kana"
        name="display_name_kana"
      >名前検索用（かな）
      </app-dashboard-input>
      <app-dashboard-select
        [selects]="originalSelects"
        formControlName="is_use_original_image"
        name="is_use_original_image"
      >画像選択
      </app-dashboard-select>
      <app-dashboard-select
        [selects]="mosaicSelects"
        formControlName="is_opened_face"
        name="is_opened_face"
      >顔出し
      </app-dashboard-select>

      <ng-container>
        <h3 mat-subheader>画像</h3>
        <p>
          <mat-label>画像を追加</mat-label>
        </p>
        <p>
          <input #imageFileInput (change)="onChangeFiles(imageFileInput.files)" multiple name="image" type="file">
        </p>
        <ng-container *ngFor="let image of files; let index = index">
          <p>
            <img *ngIf="fileUrls && fileUrls[index]" [src]="fileUrls[index]" alt="">
            <button (click)="onDeleteFile(index)" mat-button mat-icon-button type="button">
              <mat-icon>close</mat-icon>
            </button>
          </p>
          <p>
            <mat-label>画像を変更</mat-label>
          </p>
          <p>
            <input #imageFileInput (change)="onChangeFile(index, imageFileInput.files ? imageFileInput.files[0] : null)"
                   name="image"
                   type="file">
          </p>
        </ng-container>
      </ng-container>

      <app-dashboard-select
        [selects]="yesOrNoSelects"
        formControlName="is_newbie"
        name="is_newbie"
      >新人
      </app-dashboard-select>
      <app-dashboard-select
        [selects]="yesOrNoSelects"
        formControlName="is_trial"
        name="is_trial"
      >体験入店
      </app-dashboard-select>
      <app-dashboard-select
        [selects]="ageSelects"
        formControlName="age"
        name="age"
      >年齢
      </app-dashboard-select>
      <app-dashboard-select
        [selects]="heightSelects"
        formControlName="height"
        name="height"
      >身長
      </app-dashboard-select>
      <app-dashboard-select
        [selects]="bustSelects"
        formControlName="bust"
        name="bust"
      >B
      </app-dashboard-select>
      <app-dashboard-select
        [selects]="cupSelects"
        formControlName="cup"
        name="cup"
      >カップ
      </app-dashboard-select>
      <app-dashboard-select
        [selects]="waistSelects"
        formControlName="waist"
        name="waist"
      >W
      </app-dashboard-select>
      <app-dashboard-select
        [selects]="hipSelects"
        formControlName="hip"
        name="hip"
      >H
      </app-dashboard-select>
      <app-dashboard-select
        [selects]="bloodSelects"
        formControlName="blood_type"
        name="blood_type"
      >血液型
      </app-dashboard-select>

      <app-dashboard-checkbox
        [selects]="typesSelects"
        formControlName="types"
      >タイプ
      </app-dashboard-checkbox>

      <app-dashboard-select
        [selects]="styleSelects"
        formControlName="style"
        name="style"
      >スタイル
      </app-dashboard-select>

      <app-dashboard-select
        [selects]="doSelects"
        formControlName="is_smoker"
        name="is_smoker"
      >喫煙
      </app-dashboard-select>
      <app-dashboard-select
        [selects]="booleanWithNullSelects"
        formControlName="is_irezumi"
        name="is_irezumi"
      >入墨
      </app-dashboard-select>
      <app-dashboard-select
        [selects]="booleanWithNullSelects"
        formControlName="is_tattoo"
        name="is_tattoo"
      >タトゥー
      </app-dashboard-select>
      <app-dashboard-select
        [selects]="yesOrNoSelects"
        formControlName="is_shiohuki"
        name="is_shiohuki"
      >潮吹き
      </app-dashboard-select>
      <app-dashboard-select
        [selects]="yesOrNoSelects"
        formControlName="is_paipan"
        name="is_paipan"
      >パイパン
      </app-dashboard-select>
      <app-dashboard-select
        [selects]="yesOrNoSelects"
        formControlName="is_pregnant"
        name="is_pregnant"
      >妊婦
      </app-dashboard-select>

      <p>
        <mat-label>誕生日</mat-label>
        <mat-grid-list [cols]="2" rowHeight="80">
          <mat-grid-tile>
            <app-dashboard-select
              [selects]="monthSelects"
              formControlName="birth_month"
              name="birth_month"
            >月
            </app-dashboard-select>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-dashboard-select
              [selects]="dateSelects"
              formControlName="birth_date"
              name="birth_date"
            >日
            </app-dashboard-select>
          </mat-grid-tile>
        </mat-grid-list>
      </p>

      <app-dashboard-input
        formControlName="similar_famous"
        name="similar_famous"
      >似ている芸能人
      </app-dashboard-input>
      <app-dashboard-input
        formControlName="similar_famous_kana"
        name="similar_famous_kana"
      >似ている芸能人（かな）
      </app-dashboard-input>
      <app-dashboard-select
        [selects]="smSelects"
        formControlName="sm_barometer"
        name="sm_barometer"
      >SMバロメーター
      </app-dashboard-select>
      <app-dashboard-textarea
        formControlName="message"
        name="message"
      >メッセージ
      </app-dashboard-textarea>
      <app-dashboard-select
        [selects]="useSelects"
        formControlName="is_use_photo_diary"
        name="is_use_photo_diary"
      >写メール日記
      </app-dashboard-select>
      <app-dashboard-input
        formControlName="login_id"
        name="login_id"
      >ログインID
      </app-dashboard-input>
      <app-dashboard-input
        [isPassword]="true"
        formControlName="password"
        name="password"
      >パスワード
      </app-dashboard-input>
      <app-dashboard-select
        [selects]="useSelects"
        formControlName="is_use_video_diary"
        name="is_use_video_diary"
      >写メ動画
      </app-dashboard-select>
      <app-dashboard-select
        [selects]="useSelects"
        formControlName="is_use_fan_letter"
        name="is_use_fan_letter"
      >ファンレター
      </app-dashboard-select>

      <p>
        <mat-label>詳細情報</mat-label>
      </p>
      <mat-grid-list [cols]="7" [rowHeight]="150" formArrayName="details">
        <ng-container *ngFor="let item of detailsFormArray.controls; let index = index" [formGroupName]="index">
          <mat-grid-tile [colspan]="2"></mat-grid-tile>
          <mat-grid-tile [colspan]="2">
            <app-dashboard-textarea
              [autoResize]="false"
              [name]="'title-' + (index + 1)"
              [rows]="5"
              formControlName="title"
            >
              タイトル{{ index + 1 }}
            </app-dashboard-textarea>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2">
            <app-dashboard-textarea
              [autoResize]="false"
              [name]="'detail-' + (index + 1)"
              [rows]="5"
              formControlName="detail"
            >
              本文{{ index + 1 }}
            </app-dashboard-textarea>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1">
            <button (click)="detailsFormArray.removeAt(index)" *ngIf="detailsFormArray.length > 1" mat-button mat-icon-button
                    type="button">
              <mat-icon>close</mat-icon>
            </button>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>
      <p *ngIf="detailsFormArray.length < detailFormArrayMax">
        <button (click)="onPushDetail()" color="accent" mat-flat-button type="button">項目を追加</button>
      </p>


      <app-dashboard-checkbox
        [selects]="servicesSelects"
        formControlName="services"
      >可能サービス
      </app-dashboard-checkbox>


    </mat-card-content>
    <mat-card-actions align="end">
      <button [disabled]="fg.invalid" color="primary" mat-raised-button>作成</button>
    </mat-card-actions>
  </form>
</mat-card>
