<app-dashboard-header rightRouterLink="./create">キャスト</app-dashboard-header>
<app-table-list
  (changeSort)="onSortChange($event, list)"
  (clickRow)="onClickRow($event)"
  (delete)="onDelete($event)"
  *ngIf="list$ | async as list"
  [dataSource]="list"
  [displayedColumns]="columns"
  [getNameFn]="getNameFn"
  [sortChangeable]="true"
></app-table-list>
<ng-template #recommend let-cast>
  <ng-container *ngIf="cast?.is_recommend ?? false; else: elseTemplate">
    <button (click)="onClickRecommend($event, cast)" color="primary" mat-flat-button mat-icon-button>
      <mat-icon>star</mat-icon>
    </button>
  </ng-container>
  <ng-template #elseTemplate>
    <button (click)="onClickRecommend($event, cast)" mat-icon-button>
      <mat-icon>star_outline</mat-icon>
    </button>
  </ng-template>
</ng-template>
