<app-dashboard-header prevRouterLink="../">ユーザー作成</app-dashboard-header>
<mat-card>
  <form (ngSubmit)="onSub()" [formGroup]="fg">
    <mat-card-content>
      <app-dashboard-input formControlName="login_id" name="login_id" type="text">ログインID</app-dashboard-input>
      <p>
        <mat-form-field appearance="fill" hintLabel="8 - 100文字">
          <mat-label>パスワード</mat-label>
          <input [type]="hidePassword ? 'password' : 'text'" autocomplete="new-password" formControlName="password" matInput max="100"
                 min="8">
          <button (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" mat-icon-button
                  matSuffix>
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </p>
      <app-dashboard-input
        formControlName="display_name"
      >氏名</app-dashboard-input>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>権限</mat-label>
          <mat-select formControlName="role_id">
            <mat-option *ngFor="let item of (roles$ | async)" [value]="item.id">{{ item.display_name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button [disabled]="fg.invalid" color="primary" mat-raised-button>作成</button>
    </mat-card-actions>
  </form>
</mat-card>
