<ng-container>
  <app-dashboard-header prevRouterLink="../">店舗グループ作成</app-dashboard-header>
  <mat-card>
    <form (ngSubmit)="onSub()" [formGroup]="fg">
      <mat-card-content>
        <app-dashboard-input formControlName="name" name="name" type="text">店舗グループ名</app-dashboard-input>
      </mat-card-content>
      <mat-card-actions align="end">
        <button [disabled]="fg.invalid" color="primary" mat-raised-button>作成</button>
      </mat-card-actions>
    </form>
  </mat-card>
</ng-container>
