<ng-container *ngIf="detail">
  <app-dashboard-header prevRouterLink="../">店舗編集: {{ detail.name }}</app-dashboard-header>
  <mat-card>
    <mat-card-actions align="end">
      <button (click)="onClickLoginAsOperator(detail)" color="primary" mat-flat-button type="button">
        この店舗のユーザーとしてログインする
      </button>
    </mat-card-actions>
    <form (ngSubmit)="onSub()" [formGroup]="fg">
      <mat-card-content>
        <app-dashboard-select
          [selects]="groupSelects$ | async"
          formControlName="group"
          name="group"
        >グループ
        </app-dashboard-select>


        <app-dashboard-input formControlName="name" name="name" type="text">店舗名</app-dashboard-input>

        <app-dashboard-select
          [selects]="sectorSelects$ | async"
          formControlName="tenant_sector_id"
          name="tenant_sector_id"
        >業種
        </app-dashboard-select>
        <app-dashboard-checkbox
          [selects]="regionSelects$ | async"
          formControlName="support_regions"
        >派遣可能エリア
        </app-dashboard-checkbox>
        <app-dashboard-select
          [selects]="planSelects$ | async"
          formControlName="tenant_plan_id"
        >プラン
        </app-dashboard-select>
        <ng-container *ngIf="isSelectedLimitedPlan">
          <app-dashboard-date-picker formControlName="begin_plan_limit_date" name="begin_plan_limit_date">お試し開始日
          </app-dashboard-date-picker>
          <app-dashboard-date-picker formControlName="end_plan_limit_date" name="end_plan_limit_date">お試し終了日
          </app-dashboard-date-picker>
        </ng-container>
        <app-dashboard-input formControlName="plan_price" type="number">料金</app-dashboard-input>
        <app-dashboard-date-picker formControlName="begin_publish_date">公開日</app-dashboard-date-picker>
        <app-dashboard-date-picker formControlName="end_publish_date">公開停止日</app-dashboard-date-picker>
        <app-dashboard-input formControlName="refresh_place_rate_limit_per_date" type="number">配置更新数
        </app-dashboard-input>
        <app-dashboard-input formControlName="shop_news_rate_limit_per_date" type="number">ショップニュース数
        </app-dashboard-input>
        <app-dashboard-select [selects]="statusSelects" formControlName="is_suspend">ステータス</app-dashboard-select>

        <app-dashboard-textarea formControlName="catch">キャッチフレーズ</app-dashboard-textarea>
        <ng-container formArrayName="tel">
          <app-dashboard-input formControlName="0" name="tel1" type="tel">電話番号1</app-dashboard-input>
          <app-dashboard-input formControlName="1" name="tel2" type="tel">電話番号2</app-dashboard-input>
        </ng-container>
        <app-dashboard-input formControlName="line_id" name="line_id" type="text">LINE ID</app-dashboard-input>
        <app-dashboard-input formControlName="line_url" name="line_url" type="text">LINE URL</app-dashboard-input>
        <app-dashboard-input formControlName="region" name="region" type="text">住所・地域（東部・中部・西部・全域）</app-dashboard-input>

        <app-dashboard-time-range-form
          [formControl]="openTimeCombined"
          [insertLast]="true"
          [minuteStep]="15"
          label="営業"
        ></app-dashboard-time-range-form>

        <app-dashboard-time-range-form
          [formControl]="receptionTimeCombined"
          [insertLast]="true"
          [minuteStep]="15"
          label="受付"
        ></app-dashboard-time-range-form>

        <app-dashboard-input formControlName="close_date" name="close_date" type="text">定休日</app-dashboard-input>

        <app-dashboard-select [selects]="costSelections" formControlName="lowest_cost">最低価格帯</app-dashboard-select>

        <p>
          <mat-label>お問い合わせフォーム</mat-label>
        </p>
        <p>
          <mat-radio-group [formControl]="useForm" aria-label="Select an option">
            <mat-radio-button value="0">未使用</mat-radio-button>
            <mat-radio-button value="1">使用</mat-radio-button>
          </mat-radio-group>
        </p>

        <ng-container *ngIf="useForm.value === '1'">
          <app-dashboard-input formControlName="form_email" name="form_email" type="email">書き込み通知先メールアドレス
          </app-dashboard-input>
        </ng-container>
        <app-dashboard-input formControlName="regular_services" name="regular_services" type="text">基本サービス
        </app-dashboard-input>
        <app-dashboard-input formControlName="regular_service_price" name="regular_service_price" type="number">
          基本サービス価格
        </app-dashboard-input>

        <mat-grid-list [cols]="5" [rowHeight]="80" formArrayName="services">
          <ng-container *ngFor="let item of serviceControls; let index = index" [formGroupName]="index">
            <mat-grid-tile [colspan]="1"></mat-grid-tile>
            <mat-grid-tile [colspan]="2">
              <mat-form-field appearance="fill">
                <mat-label>フリー{{ index + 1 }}</mat-label>
                <input [name]="'service-' + (index + 1)" formControlName="name" matInput type="text">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
              <mat-form-field appearance="fill">
                <mat-label>価格</mat-label>
                <input [name]="'price-' + (index + 1)" formControlName="price" matInput type="number">
              </mat-form-field>
            </mat-grid-tile>
          </ng-container>
        </mat-grid-list>


        <p>
          <mat-label>領収書発行</mat-label>
        </p>
        <p>
          <mat-radio-group aria-label="Select an option" formControlName="enable_receipt">
            <mat-radio-button value="1">OK</mat-radio-button>
            <mat-radio-button value="0">NG</mat-radio-button>
          </mat-radio-group>
        </p>

        <p>
          <mat-label>クレジットカード</mat-label>
        </p>
        <p>
          <mat-checkbox *ngFor="let item of brands; let index = index" [formControl]="creditCardFormControlArray[index]"
          >{{ item.name }}</mat-checkbox>
        </p>

        <app-dashboard-textarea formControlName="note" name="note">備考欄</app-dashboard-textarea>


        <p>
          <mat-label>出勤表使用選択</mat-label>
        </p>
        <p>
          <mat-radio-group aria-label="Select an option" formControlName="use_timetable">
            <mat-radio-button value="0">未使用</mat-radio-button>
            <mat-radio-button value="1">使用</mat-radio-button>
          </mat-radio-group>
        </p>
        <p>
          <mat-label>女の子管理画面での出勤表の使用選択</mat-label>
        </p>
        <p>
          <mat-radio-group aria-label="Select an option" formControlName="enable_edit_timetable_on_cast">
            <mat-radio-button value="0">未使用</mat-radio-button>
            <mat-radio-button value="1">使用</mat-radio-button>
          </mat-radio-group>
        </p>
        <app-operation-tenant-banner-image
          [casts]="detail.casts"
          [foreignLinks]="detail.foreign_links"
          [galleries]="detail.free_galleries"
          formControlName="image"
        >店舗TOPバナー
        </app-operation-tenant-banner-image>
        <app-operation-tenant-banner-image
          [casts]="detail.casts"
          [foreignLinks]="detail.foreign_links"
          [galleries]="detail.free_galleries"
          formControlName="square_image"
        >店舗800x800バナー
        </app-operation-tenant-banner-image>
        <app-dashboard-input formControlName="official_site_url">オフィシャルサイトURL</app-dashboard-input>
        <app-dashboard-input formControlName="payment_url">決済用URL</app-dashboard-input>
      </mat-card-content>
      <mat-card-actions align="end">
        <button [disabled]="fg.invalid" color="primary" mat-raised-button>更新</button>
      </mat-card-actions>
    </form>
  </mat-card>
</ng-container>
<br>
<ng-container>
  <app-dashboard-header [rightRouterLink]="'/operation/tenants/' + id + '/users/create'">ユーザー一覧</app-dashboard-header>
  <app-table-list
    (clickRow)="onClickUserRow($event)"
    (delete)="onDeleteUser($event)"
    [dataSource]="users$"
    [displayedColumns]="displayUserColumns"
    [getNameFn]="getUserNameFn"
  ></app-table-list>
</ng-container>
