<app-dashboard-header prevRouterLink="../">フリーブロック</app-dashboard-header>
<mat-card>
  <form (ngSubmit)="onSub()" [formGroup]="fg">
    <mat-card-content>
      <app-dashboard-select
        [selects]="publishSelects"
        formControlName="publish_at"
        name="publish_at"
      >
        公開ステータス
      </app-dashboard-select>

      <app-dashboard-select
        [selects]="displayType$ | async"
        formControlName="tenant_free_block_display_type_id"
        name="tenant_free_block_display_type_id"
      >
        表示初期状態
      </app-dashboard-select>

      <app-dashboard-select
        [selects]="displaySpace$ | async"
        formControlName="tenant_free_block_display_space_id"
        name="tenant_free_block_display_space_id"
      >
        表示位置
      </app-dashboard-select>

      <app-dashboard-input
        formControlName="title"
        name="title"
      >
        タイトル
      </app-dashboard-input>

      <app-dashboard-image (changeFile)="onChangeFile($event)"></app-dashboard-image>

      <app-dashboard-editable-text-type-select
        formControlName="editable_text_type_id"
        name="editable_text_type_id"
        #ref
      ></app-dashboard-editable-text-type-select>
      <app-dashboard-multiple-type-textarea
        formControlName="content"
        name="content"
        [ref]="ref"
      ></app-dashboard-multiple-type-textarea>


      <app-dashboard-textarea
        formControlName="note"
        name="note"
      >
        備考
      </app-dashboard-textarea>

    </mat-card-content>
    <mat-card-actions align="end">
      <button [disabled]="fg.invalid" color="primary" mat-raised-button>作成</button>
    </mat-card-actions>
  </form>
</mat-card>
