.sortable {
  height: 100%;
  overflow: auto;
}

.col-image {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.col-image-stretch {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.sortable.cdk-drop-list-dragging mat-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-column-sort, .mat-column-delete {
  flex: 0 0 40px;
}
