.col-image {
  height: 40px;
  width: 40px;
  object-fit: contain;
}
.col-image-stretch{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
