<div class="mat-elevation-z8">
  <mat-table
    (cdkDropListDropped)="onDrop($event)"
    [cdkDropListDisabled]="!sortChangeable"
    [class.sortable]="sortChangeable"
    [dataSource]="dataSource"
    cdkDropList
    mat-table
  >
    <ng-container matColumnDef="sort">
      <mat-header-cell *matHeaderCellDef mat-header-cell></mat-header-cell>
      <mat-cell *matCellDef="let element" mat-cell>
        <button [cdkDragData]="element" cdkDrag cdkDragHandle cdkDragRootElement="mat-row" mat-icon-button>
          <mat-icon>drag_handle</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container *ngFor="let col of displayedColumnsExcludedDelete" [matColumnDef]="'' + col.key">
      <mat-header-cell *matHeaderCellDef mat-header-cell>{{ col.label }}</mat-header-cell>
      <mat-cell *matCellDef="let element"
                mat-cell>
        <ng-container [ngSwitch]="col.type">
          <ng-container *ngSwitchCase="undefined">
            <ng-container *ngIf="getColumnAsBase(col) as col">
              <ng-container
                *ngIf="col.transform ? col.transform(getDataByKeyName(element, col.key)) : getDataByKeyName(element, col.key) as text">
                <div [matTooltip]="text" class="ellipsis">{{ text }}</div>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'image'">
            <ng-container *ngIf="getColumnAsBase(col) as col">
              <img
                #smallImage
                (mouseenter)="onShowPreviewModal(imageTemplate, smallImage)"
                (mouseleave)="onHidePreviewModal()"
                [src]="col.transform ? col.transform(getDataByKeyName(element, col.key)) : getDataByKeyName(element, col.key)"
                alt=""
                class="col-image"
              >
              <ng-template #imageTemplate>
                <img
                  [src]="col.transform ? col.transform(getDataByKeyName(element, col.key)) : getDataByKeyName(element, col.key)"
                  alt=""
                  class="col-image-stretch"
                >
              </ng-template>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'template'">
            <ng-container *ngIf="getColumnAsTemplate(col) as col">
              <ng-container
                *ngTemplateOutlet="col.templateRef ?? null; context: {$implicit: element}"
              ></ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef mat-header-cell>削除</mat-header-cell>
      <mat-cell *matCellDef="let element" mat-cell>
        <button
          (click)="onClickDelete($event, element)"
          (mouseenter)="onMouseEnter($event)"
          (mouseleave)="onMouseLeave($event)"
          color="warn"
          mat-icon-button
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumnKeys; sticky: true" mat-header-row></mat-header-row>
    <mat-row
      (click)="onClickRow(row)"
      *matRowDef="let row; columns: displayedColumnKeys;"
      [matRippleDisabled]="rippleDisable"
      matRipple
    ></mat-row>
  </mat-table>
</div>
