<ng-container *ngIf="view$ | async as view">
  <form [formGroup]="fg" (ngSubmit)="onSub()">
    <app-dashboard-header>トップの設定</app-dashboard-header>
    <mat-card>
      <mat-card-content>
        <div class="columns">
          <div class="container">
            <h2>左サイド</h2>

            <app-dashboard-select [selects]="contentsSelect" formControlName="side_tenant_layout_contents_type_id">コンテンツ</app-dashboard-select>
            <app-dashboard-select
              *ngIf="selectedContentsTypeIdString === 'ranking'"
              [selects]="rankingSelect" formControlName="side_tenant_layout_contents_ranking">ランキング</app-dashboard-select>
          </div>

          <div class="container">
            <h2>中央</h2>

            <div
              id="centerList"
              cdkDropList
              [cdkDropListData]="center"
              cdkDropListConnectedTo="leftList"
              class="list"
              (cdkDropListDropped)="drop($event)"
              [cdkDropListEnterPredicate]="allAcceptPredicate">
              <div
                class="box"
                *ngFor="let item of center"
                [cdkDragData]="item"
                cdkDrag
              >
                <mat-checkbox [formControl]="enableFormControlsMap[item.id]">{{ item.display_name }}</mat-checkbox>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-flat-button color="primary">更新</button>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-container>
