.dates {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  grid-column-gap: 10px;
  grid-row-gap: 8px;

  mat-label {
    grid-column: 1/4;
  }

  .date {

  }

  .to {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
  }
}
