<ng-container *ngIf="detail$ | async as detail">
  <app-dashboard-header prevRouterLink="../">ランキング: {{ detail.title }}</app-dashboard-header>
  <mat-card>
    <form (ngSubmit)="onSub(detail.id)" [formGroup]="fg">
      <mat-card-content>
        <app-dashboard-select
          [selects]="topSelects"
          formControlName="is_publish_on_top"
          name="is_publish_on_top"
        >トップ公開
        </app-dashboard-select>

        <app-dashboard-select
          [selects]="[{value: '1', label: '公開'}, {value: '0', label: '非公開'}]"
          formControlName="publish"
          name="publish"
        >公開ステータス
        </app-dashboard-select>

        <app-dashboard-input
          formControlName="title"
          name="title"
        >
          タイトル
        </app-dashboard-input>
        <app-dashboard-textarea
          formControlName="comment"
          name="comment"
        >
          コメント
        </app-dashboard-textarea>

        <ng-container>
          <h3 mat-subheader>画像</h3>
          <ng-container>
            <p>
              <img *ngIf="fileUrl" [src]="fileUrl" alt="">
            </p>
            <p>
              <mat-label>画像を変更</mat-label>
            </p>
            <p>
              <input #imageFileInput (change)="onChangeFile(imageFileInput.files?.[0])"
                     name="thumbnail"
                     type="file">
            </p>
          </ng-container>
        </ng-container>

        <ng-container formArrayName="casts">
          <h3 mat-subheader>ランキング</h3>
          <div *ngFor="let item of castsFormArray.controls; let index = index" [formGroupName]="index">
            <p>
              #{{ index + 1 }}: {{ casts[item.value.id]?.display_name }}
            </p>
            <app-dashboard-textarea formControlName="comment" name="comment">コメント</app-dashboard-textarea>
            <p>
              <button (click)="castsFormArray.removeAt(index)" color="warn" mat-stroked-button>ランキングから削除</button>
            </p>
            <p>
              <mat-divider></mat-divider>
            </p>
            <br>
          </div>
        </ng-container>

        <app-dashboard-select
          [formControl]="selectedCast"
          [selects]="castsSelects"
        >キャスト
        </app-dashboard-select>
        <button (click)="onClickAdd()" [disabled]="selectedCast.invalid" color="accent" mat-flat-button type="button">
          ランキングに追加
        </button>

      </mat-card-content>
      <mat-card-actions align="end">
        <button [disabled]="fg.invalid" color="primary" mat-raised-button>更新</button>
      </mat-card-actions>
    </form>
  </mat-card>

</ng-container>
