<app-dashboard-header prevRouterLink="../">フリーブロック</app-dashboard-header>
<mat-card>
  <form [formGroup]="fg" (ngSubmit)="onSub()">
    <mat-card-content>
      <app-dashboard-select
        formControlName="publish_at"
        name="publish_at"
        [selects]="publishSelects"
      >
        公開ステータス
      </app-dashboard-select>

      <app-dashboard-select
        formControlName="tenant_free_block_display_type_id"
        name="tenant_free_block_display_type_id"
        [selects]="displayType$ | async"
      >
        表示初期状態
      </app-dashboard-select>

      <app-dashboard-select
        formControlName="tenant_free_block_display_space_id"
        name="tenant_free_block_display_space_id"
        [selects]="displaySpace$ | async"
      >
        表示位置
      </app-dashboard-select>

      <app-dashboard-input
        formControlName="title"
        name="title"
      >
        タイトル
      </app-dashboard-input>

      <p>
        <mat-label>画像</mat-label>
        <img [src]="fileUrl" alt="">
        <input type="file" name="image" (change)="onChangeFile()" #imageFileInput>
      </p>

      <app-dashboard-select
        formControlName="editable_text_type_id"
        name="editable_text_type_id"
        label="表示形式"
        [selects]="textTypeSelects"
      >
        表示形式
      </app-dashboard-select>

      <app-dashboard-textarea
        formControlName="content"
        name="content"
        *ngIf="selectedTextType === 'plain'"
      >
        本文
      </app-dashboard-textarea>

      <app-dashboard-editor
        formControlName="content"
        *ngIf="selectedTextType === 'html'"
      >本文
      </app-dashboard-editor>


      <app-dashboard-textarea
        formControlName="note"
        name="note"
      >
        備考
      </app-dashboard-textarea>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" [disabled]="fg.invalid">作成</button>
    </mat-card-actions>
  </form>
</mat-card>
