<app-dashboard-header prevRouterLink="../">フリーギャラリー</app-dashboard-header>
<mat-card>
  <form (ngSubmit)="onSub()" [formGroup]="fg">
    <mat-card-content>
      <app-dashboard-select
        [selects]="[{value: '1', label: '公開'}, {value: '0', label: '非公開'}]"
        formControlName="publish"
        name="publish"
      ></app-dashboard-select>

      <app-dashboard-input
        formControlName="title"
        name="title"
      >
        タイトル
      </app-dashboard-input>

      <ng-container>
        <p>
          <mat-label>画像</mat-label>
        </p>
        <p *ngFor="let image of files; let index = index">
          <img *ngIf="fileUrls && fileUrls[index]" [src]="fileUrls[index]" alt="">
          <button (click)="onDeleteFile(index)" mat-button mat-icon-button type="button">
            <mat-icon>close</mat-icon>
          </button>
        </p>
        <p>
          <input #imageFileInput (change)="onChangeFile()" multiple name="image" type="file">
        </p>
        <p>
          <mat-divider></mat-divider>
        </p>
      </ng-container>


      <app-dashboard-textarea
        formControlName="comment"
        name="comment"
      >備考
      </app-dashboard-textarea>

    </mat-card-content>
    <mat-card-actions align="end">
      <button [disabled]="fg.invalid" color="primary" mat-raised-button>作成</button>
    </mat-card-actions>
  </form>
</mat-card>
