<mat-tab-group *ngIf="splitDataSource$ | async as splitDataSource" dynamicHeight>
  <mat-tab *ngFor="let master of tabKeyDisplayNameMasterSubject | async" [label]="master.display_name">
    <app-table-list
      (changeSort)="changeSort.emit($event)"
      (clickRow)="clickRow.emit($event)"
      (delete)="delete.emit($event)"
      [dataSource]="splitDataSource[master.id] ?? []"

      [displayedColumns]="displayedColumns"
      [getNameFn]="getNameFn"
      [sortChangeable]="sortChangeable"
    ></app-table-list>
  </mat-tab>
</mat-tab-group>
