<ng-container *ngIf="list$ | async as list">
  <ng-container *ngIf="castsIdNormalized$ | async as castIdNormalized">
    <app-dashboard-header *ngIf="!isMonth">出勤表</app-dashboard-header>
    <app-dashboard-header prevRouterLink="./"
                          *ngIf="currentCastId && castIdNormalized[currentCastId] as cast">{{ cast.display_name }}の出勤表
    </app-dashboard-header>
    <mat-card>
      <mat-card-content>
        <app-dashboard-search *ngIf="!isMonth" (search)="onSearch($event)">ふりがな</app-dashboard-search>
        <ng-container *ngIf="dateNormalizedList$ | async as list">
          <ng-container *ngIf="castPaged$ | async as paged">
            <ng-container *ngIf="settings$ | async as settings">
              <mat-paginator
                *ngIf="!isMonth"
                [length]="(castsSearched$ | async)?.length ?? 0"
                [pageSize]="settings.dashboard_display_num"
                (page)="currentPageIndex = $event.pageIndex"
                aria-label="Select page">
              </mat-paginator>
              <p *ngIf="activatedRoute.queryParamMap | async as paramMap">
                <span>{{ paramMap.get('start_date') ?? getCurrentDate() | date:"YYYY年M月" }}</span>
                <ng-container
                  *ngIf="isMonth"
                >
                  <button mat-flat-button [disabled]="isPrevDisabled" (click)="onClickPrevMonth()">< 前月へ</button>
                  <button mat-flat-button [disabled]="isNextDisabled" (click)="onClickNextMonth()">翌月へ ></button>
                </ng-container>
                <ng-container
                  *ngIf="!isMonth"
                >
                  <button mat-flat-button [disabled]="isPrevDisabled" (click)="onClickPrevWeek()">< 前週へ</button>
                  <button mat-flat-button [disabled]="isNextDisabled" (click)="onClickNextWeek()">翌週へ ></button>
                </ng-container>
              </p>
              <div class="table-container">

                <table *ngIf="!isMonth">
                  <thead>
                  <tr>
                    <th>日付</th>
                    <th *ngFor="let date of dates[0]" [ngClass]="'day-' + date.dayNum">{{ date.dateString }}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let cast of paged[currentPageIndex]; trackBy: trackByCastId">
                    <th>
                      <div class="cast-box">
                        <p>
                          <a routerLink="./" [queryParams]="{
                     'month': '1',
                     'cast_id': cast.id,
                     'start_date': activatedRoute.snapshot.paramMap.get('start_date')
                    }">
                            <button mat-button>
                              <mat-icon>date_range</mat-icon>
                              カレンダーで設定
                            </button>
                          </a>
                        </p>
                        <p><img class="cast-icon" [src]="cast.images[0]?.file_url" alt=""></p>
                        <p><a [routerLink]="'/tenant/cast/' + cast.id">{{ cast.display_name }}</a></p>
                      </div>
                    </th>
                    <td *ngFor="let date of dates[0]" [ngClass]="'day-' + date.dayNum">
                      <div class="schedule-box">
                        <ng-container
                          *ngIf="list?.[date.year]?.[date.month]?.[date.date]?.[cast.id] as data; else noSchedule"
                        >
                          <p>
                            <button mat-flat-button color="primary"
                                    (click)="onClickCopyNextDate(date, cast, settings, data)">→翌日コピー
                            </button>
                          </p>
                          <div class="data-container">
                            <p *ngIf="!date.isToday">出勤</p>
                            <p *ngIf="data.finished_at === null && date.isToday">本日出勤</p>
                            <p *ngIf="data.finished_at !== null && date.isToday">受付終了</p>
                            <p>{{ getWithoutSeconds(data.start_time) }} - {{ getWithoutSeconds(data.end_time) }}</p>
                            <div class="modify-schedule" (click)="onClickModify(date, cast, settings, data)">
                              編集する
                            </div>
                          </div>
                          <p>
                            <button mat-flat-button color="warn" (click)="onClickDelete(data)">❌クリア</button>
                          </p>
                        </ng-container>
                        <ng-template #noSchedule>
                          <div class="create-schedule" (click)="onClickCreate(date, cast, settings)">
                            追加する
                          </div>
                        </ng-template>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <table *ngIf="isMonth">
                  <thead>
                  <tr>
                    <th class="day-0">日</th>
                    <th class="day-1">月</th>
                    <th class="day-2">火</th>
                    <th class="day-3">水</th>
                    <th class="day-4">木</th>
                    <th class="day-5">金</th>
                    <th class="day-6">土</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="currentCastId && castIdNormalized[currentCastId] as cast">
                  <tr *ngFor="let week of dates">
                    <td *ngFor="let date of week" [ngClass]="'day-' + date.dayNum">
                      <div class="calendar-date-box">
                        <div class="date" [class.is-today]="date.isToday">{{ date.date }}</div>
                        <div class="schedule-box">
                          <ng-container
                            *ngIf="list?.[date.year]?.[date.month]?.[date.date]?.[cast.id] as data; else noSchedule"
                          >
                            <p>
                              <button mat-flat-button color="primary"
                                      (click)="onClickCopyNextDate(date, cast, settings, data)">→翌日コピー
                              </button>
                            </p>
                            <div class="data-container">
                              <p>出勤</p>
                              <p>{{ getWithoutSeconds(data.start_time) }} - {{ getWithoutSeconds(data.end_time) }}</p>
                              <div class="modify-schedule" (click)="onClickModify(date, cast, settings, data)">
                                編集する
                              </div>
                            </div>
                            <p>
                              <button mat-flat-button color="warn" (click)="onClickDelete(data)">❌クリア</button>
                            </p>
                          </ng-container>
                          <ng-template #noSchedule>
                            <div class="create-schedule" (click)="onClickCreate(date, cast, settings)">
                              追加する
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </ng-container>
</ng-container>
