/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #333333;
}

mat-form-field {
  width: 100%;
}

mat-checkbox, mat-radio-button {
  padding: 12px;
}

img {
  max-width: 100%;
}

a[routerlink],a[ng-reflect-router-link] {
  color: #333333;
}

.mat-dialog-container {
  min-width: 300px;
}
