<app-dashboard-header>オプション</app-dashboard-header>
<mat-card>
  <form [formGroup]="fg" (ngSubmit)="onSub()">
    <mat-card-content>
      <p>
        <mat-form-field appearance="fill" hintLabel="40文字">
          <mat-label>タイトル</mat-label>
          <input type="text" name="title" max="40" formControlName="title" matInput>
        </mat-form-field>
      </p>

      <mat-grid-list [cols]="7" [rowHeight]="80" formArrayName="prices">
        <ng-container *ngFor="let item of priceControlArray.controls; let index = index" [formGroupName]="index">
          <mat-grid-tile [colspan]="2"></mat-grid-tile>
          <mat-grid-tile [colspan]="2">
            <mat-form-field appearance="fill">
              <mat-label>品目{{ index + 1 }}</mat-label>
              <input type="text" [name]="'service-' + (index + 1)" formControlName="title" matInput>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2">
            <mat-form-field appearance="fill">
              <mat-label>料金</mat-label>
              <input type="text" [name]="'price-' + (index + 1)" formControlName="price" matInput>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1">
            <button *ngIf="priceControlArray.length > 1" type="button" mat-button mat-icon-button (click)="priceControlArray.removeAt(index)"><mat-icon>close</mat-icon></button>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>

      <p *ngIf="priceControlArray.length < formArrayMax">
        <button type="button" mat-flat-button color="accent" (click)="onPush()">項目を追加</button>
      </p>

      <p>
        <mat-form-field appearance="fill" hintLabel="500文字">
          <mat-label>備考</mat-label>
          <textarea rows="3" type="text" maxlength="500" name="note" formControlName="note" matInput
                    [cdkTextareaAutosize]="true"></textarea>
        </mat-form-field>
      </p>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" [disabled]="fg.invalid">更新</button>
    </mat-card-actions>
  </form>
</mat-card>
