.container {
  height: 100%;
}

mat-drawer {
  max-width: 100%;
  width: 300px;
}

mat-drawer-content {
  height: 100%;
  overflow: auto;
}

.content-container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .space {
    flex: 0 0 20px;
    height: 100%;

    mat-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }

  .router-container {
    flex: 1 1 auto;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
  }
}
