<ng-container *ngIf="detail$ | async as detail">
  <app-dashboard-header prevRouterLink="../">店舗グループ編集: {{ detail.name }}</app-dashboard-header>
  <mat-card>
    <form (ngSubmit)="onSub(detail.id)" [formGroup]="fg">
      <mat-card-content>
        <app-dashboard-input formControlName="name" name="name" type="text">店舗グループ名</app-dashboard-input>
      </mat-card-content>
      <mat-card-actions align="end">
        <button [disabled]="fg.invalid" color="primary" mat-raised-button>更新</button>
      </mat-card-actions>
    </form>
  </mat-card>

  <h2>所属店舗</h2>
  <mat-action-list>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let item of detail.tenants">
      <mat-list-item [routerLink]="['/operation/tenants/', item.id]">
        {{ item.name }}
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-action-list>
</ng-container>
