<ng-container *ngIf="detail$ | async as detail">
  <app-dashboard-header prevRouterLink="../">店舗グループ編集: {{ detail.name }}</app-dashboard-header>
  <mat-card>
    <form (ngSubmit)="onSub(detail.id)" [formGroup]="fg">
      <mat-card-content>
        <p>
          <mat-form-field appearance="fill" hintLabel="1 - 100文字">
            <mat-label>店舗グループ名</mat-label>
            <input formControlName="name" matInput max="100" min="1" name="name" type="text">
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button [disabled]="fg.invalid" color="primary" mat-raised-button>更新</button>
      </mat-card-actions>
    </form>
  </mat-card>

  <h2>所属店舗</h2>


</ng-container>
