<ng-container *ngIf="detail$ | async as detail">
  <app-dashboard-header prevRouterLink="../">フリーブロック: {{ detail.title }}</app-dashboard-header>
  <mat-card>
    <form (ngSubmit)="onSub(detail.id)" [formGroup]="fg">
      <mat-card-content>
        <app-dashboard-select
          [selects]="publishSelects"
          formControlName="publish_at"
          name="publish_at"
        >
          公開ステータス
        </app-dashboard-select>

        <app-dashboard-select
          [selects]="displayType$ | async"
          formControlName="tenant_free_block_display_type_id"
          name="tenant_free_block_display_type_id"
        >
          表示初期状態
        </app-dashboard-select>

        <app-dashboard-select
          [selects]="displaySpace$ | async"
          formControlName="tenant_free_block_display_space_id"
          name="tenant_free_block_display_space_id"
        >
          表示位置
        </app-dashboard-select>

        <app-dashboard-input
          formControlName="title"
          name="title"
        >
          タイトル
        </app-dashboard-input>

        <p>
          <mat-label>画像</mat-label>
          <img [src]="fileUrl" alt="">
          <input #imageFileInput (change)="onChangeFile()" name="image" type="file">
        </p>

        <app-dashboard-select
          [selects]="textTypeSelects"
          formControlName="editable_text_type_id"
          label="表示形式"
          name="editable_text_type_id"
        >
          表示形式
        </app-dashboard-select>

        <app-dashboard-textarea
          *ngIf="selectedTextType === 'plain'"
          formControlName="content"
          name="content"
        >
          本文
        </app-dashboard-textarea>

        <app-dashboard-editor
          *ngIf="selectedTextType === 'html'"
          formControlName="content"
        >本文
        </app-dashboard-editor>


        <app-dashboard-textarea
          formControlName="note"
          name="note"
        >
          備考
        </app-dashboard-textarea>

      </mat-card-content>
      <mat-card-actions align="end">
        <button [disabled]="fg.invalid" color="primary" mat-raised-button>更新</button>
      </mat-card-actions>
    </form>
  </mat-card>

</ng-container>
