<mat-drawer-container class="container">
  <mat-drawer #drawer [mode]="mode" [opened]="opened">
    <mat-action-list>
      <h3 matSubheader>店舗情報登録</h3>
      <mat-list-item routerLink="/tenant/basic">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>基本情報</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/tenant/course">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>コース設定</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/tenant/transportation">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>交通費</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/tenant/option">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>オプション</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/tenant/free-space">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>フリースペース</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/tenant/free-block">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>フリーブロック</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>店舗スタッフ</h3>
      <mat-list-item routerLink="/tenant/staff">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>店舗スタッフ</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>フリーバナー</h3>
      <mat-list-item routerLink="/tenant/free-banner">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>フリーバナー</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>フリーギャラリー</h3>
      <mat-list-item routerLink="/tenant/free-gallery">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>フリーギャラリー</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>キャスト管理</h3>
      <mat-list-item routerLink="/tenant/cast">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>キャスト管理</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>出勤表</h3>
      <mat-list-item routerLink="/tenant/cast-schedule/cast-schedule-setting">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>設定</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/tenant/cast-schedule/cast-schedule">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>出勤表</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/tenant/cast-schedule/cast-schedule-status">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>待ち時間</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>フリー画像</h3>
      <mat-list-item routerLink="/tenant/free-image">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>フリー画像</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>ランキング管理</h3>
      <mat-list-item routerLink="/tenant/ranking">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>ランキング管理</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>レイアウト管理</h3>
      <mat-list-item routerLink="/tenant/layout/top">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>トップ画面</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/tenant/layout/banner">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>バナー</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/tenant/layout/design">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>デザイン</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!--      <mat-list-item routerLink="/tenant/layout/animation-banner">-->
      <!--        <mat-icon mat-list-icon>home_work</mat-icon>-->
      <!--        <div mat-line>動くバナー</div>-->
      <!--      </mat-list-item>-->
      <!--      <mat-divider></mat-divider>-->
      <h3 mat-subheader>ログアウト</h3>
      <mat-list-item (click)="onClickLogOut()">
        <mat-icon mat-list-icon>home_work</mat-icon>
        <div mat-line>ログアウト</div>
      </mat-list-item>
    </mat-action-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content-container">
      <div (click)="drawer.open()" *ngIf="!opened" class="space mat-elevation-z4">
        <mat-icon color="primary">widgets</mat-icon>
      </div>
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
